//Import fonts
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');

//Colors
$primary-bg-ltgray: hsla(205, 44%, 93%, 1);
$primary-color-cyan: hsla(179, 62%, 43%, 1);
$accent-color-brightyellow: hsla(71, 73%, 54%, 1);
$neutral-white: hsla(0, 0%, 100%, 1);
$body-txt-color: hsla(218, 22%, 67%, 1);

//Fonts
$sans-serif: "Karla", sans-serif;
$font-wt-norm: 400;
$font-wt-bold: 700;
$font-sz-base: 16px;
$body-txt-lnht: 26px;

//Responsive typography
$body-font-sz: clamp(calc(#{$font-sz-base} - calc(#{$font-sz-base} * 0.125)), calc(0.83125 * #{$font-sz-base}) + 0.19vw, #{$font-sz-base});
$h1-font-sz: clamp(calc($font-sz-base * 1.25), calc(1.1625 * $font-sz-base) + 0.375vw, calc($font-sz-base * 1.5));
$h2-font-sz: calc($font-sz-base * 1.125);
$faux-hd-sz: clamp(calc($font-sz-base * 0.9375), calc(0.875 * $font-sz-base) + 0.28vw, calc($font-sz-base * 1.125));

//Dimensions & spacing (width, height, padding, margin, border-radius)
$space-base: 8px;

//Centering elements
@mixin place-ctr($display, $align, $justify) {
  display: $display;
  align-items: $align;
  justify-content: $justify;
}

//Animation transitions
@mixin transition($prop, $dur, $fn) {
  transition-property: $prop;
  transition-duration: $dur;
  transition-timing-function: $fn;
}

//Media queries, bp = breakpoint
@mixin bp($point) {
  @if $point == plant {
    @media (max-width: 1600px) { @content; }
  }
  @if $point == sprout {
    @media (max-width: 1250px) { @content; }
  }
  @if $point == seedling {
    @media (max-width: 650px) { @content; }
  }
  @if $point == seed {
    @media (max-width: 500px) { @content; }
  }
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $primary-bg-ltgray;
  font: $font-wt-norm #{$body-font-sz}/#{$body-txt-lnht} $sans-serif;
  color: $body-txt-color;
}

main {
  height: 100vh;
  @include place-ctr(flex, center, center);
}

article {
  background-color: $neutral-white;
  max-width: calc($space-base * 79.5);
  margin: 0 calc($space-base * 4);
  border-radius: $space-base;
  box-shadow: 0px 15px 30px rgba(0, 81, 171, 0.148847);
  @include bp(seedling) {
    border-radius: calc($space-base * 0.625);
  }
}

.intro {
  padding: clamp(calc($space-base * 3.75), calc(3.3125 * $space-base) + 0.94vw, calc($space-base * 5)) clamp(calc($space-base * 3), calc(2.3125 * $space-base) + 1.5vw, calc($space-base * 5));
}

h1 {
  font-weight: $font-wt-bold;
  color: $primary-color-cyan;
  font-size: $h1-font-sz;
}

.guarantee {
  font-weight: $font-wt-bold;
  color: $accent-color-brightyellow;
  font-size: $faux-hd-sz;
  margin: calc($space-base * 3) 0 calc($space-base * 1.5) 0;
}

.details {
  background-color: $primary-color-cyan;
  color: $neutral-white;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  border-radius: 0 0 $space-base $space-base;
}

.cost, .benefits {
  padding: clamp(calc($space-base * 3), calc(2.3 * $space-base) + 1.5vw, calc($space-base * 5));
}

h2 {
  font-weight: $font-wt-bold;
  font-size: $h2-font-sz;
  margin-bottom: calc($space-base * 2.25);
}

.price {
  @include place-ctr(flex, center, flex-start);
  column-gap: calc($space-base * 1.5);
}

.dollars {
  font-size: calc($font-sz-base * 2);
}

.monthly {
  opacity: 0.5;
}

.access {
  margin: calc($space-base * 2) 0 calc($space-base * 3) 0;
}

button {
  width: 100%;
  height: calc($space-base * 6);
  background-color: $accent-color-brightyellow;
  color: $neutral-white;
  font-weight: $font-wt-bold;
  font-size: $font-sz-base;
  border: none;
  border-radius: calc($space-base * 0.625);
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.0973011);
  cursor: pointer;
  @include transition(all, 0.2s, ease);
  &:hover {
    background-color: $neutral-white;
    color: $primary-color-cyan;
  }
}

.benefits {
  background-color: $primary-color-cyan;
  border-radius: 0 0 $space-base 0;
  position: relative;
  @include bp(seedling) {
    border-radius: 0 0 calc($space-base * 0.625) calc($space-base * 0.625);
  }
  &::before {
    content: "";
    background-color: $neutral-white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    mix-blend-mode: normal;
    opacity: 0.15;
  }
}

.benefits-txt {
  color: $neutral-white;
  /*Create new stacking context (mix-blend-mode in parent)*/
  isolation: isolate;
  z-index: 20;
}

.benefits-list {
  list-style: none;
  font-size: calc($font-sz-base * 0.875);
  line-height: 20px;
  opacity: 0.75;
}