/*Import fonts*/
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap');


/*Set global variables*/
:root {
  --primary-bg: #E6EFF5;
  --primary-teal: #2AB3B1;
  --accent-brightgreen: #C0DF33;
  --neutral-white: #FFFFFF;
  --body-txt-gray: #9AA7BE;
  --font-wt-nom: 400;
  --font-wt-semibold: 700;
  --font-sz-step0: 14px;
  --font-sz-step1: 16px;
  --font-sz-step2: 18px;
  --font-sz-step3: 20px;
  --font-sz-step4: 24px;
}

/*Zero out defaults*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body { 
  background-color: var(--primary-bg);
  font-family: Karla, sans-serif;
  font-weight: var(--font-wt-nom);
  color: var(--body-txt-gray);
  font-size: clamp(var(--font-sz-step0), 13.3px + 0.19vw, var(--font-sz-step1)); 
  line-height: 1.625em;
}

main { 
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

article { 
  background-color: var(--neutral-white);
  max-width: 636px;
  margin: 0 32px; 
  border-radius: 8px;
  box-shadow: 0px 15px 30px rgba(0, 81, 171, 0.148847);
}

.intro { 
  padding: clamp(30px, 26.5px + 0.94vw, 40px) clamp(24px, 18.5px + 1.5vw, 40px);
}

h1 { 
  font-weight: var(--font-wt-semibold); 
  color: var(--primary-teal); 
  font-size: clamp(var(--font-sz-step3), 18.6px + 0.375vw, var(--font-sz-step4)); 
}

.guarantee { 
  font-weight: var(--font-wt-semibold); 
  color: var(--accent-brightgreen); 
  font-size: clamp(calc(var(--font-sz-step1) - 1px), 14px + 0.28vw, var(--font-sz-step2));
  margin: 1.5rem 0 0.75rem 0; 
}

.details { 
  background-color: var(--primary-teal);
  color: var(--neutral-white);
  border-radius: 0 0 8px 8px; 
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.cost, .benefits { 
  padding: clamp(1.5rem, 1.15rem + 1.5vw, 2.5rem);
}

h2 { 
  font-weight: var(--font-wt-semibold);
  font-size: var(--font-sz-step2);
  margin-bottom: 1.125rem;
}

.price { 
  display: flex;
  align-items: center;
  column-gap: 0.75rem;
}

.dollars { 
  font-size: calc(2 * var(--font-sz-step1));
}

.monthly { 
  opacity: 0.5;
}

.access { 
  margin: 1rem 0 1.5rem 0;
}

button { 
  width: 100%;
  height: 3rem;
  background-color: var(--accent-brightgreen);
  color: var(--neutral-white);
  border: none;
  border-radius: 5px;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.0973011);
  font-weight: var(--font-wt-semibold);
  font-size: var(--font-sz-step1);  
}

.benefits {
  background-color: var(--primary-teal);
  border-bottom-right-radius: 8px;
  position: relative;
}

.benefits::before {
  content: "";
  background-color: var(--neutral-white);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  mix-blend-mode: normal;
  opacity: 0.15;
}

.benefits-txt {
  isolation: isolate;
  color: var(--neutral-white);
  z-index: 20;
}

ul {
  list-style: none;
}

.benefits-list {
  font-size: var(--font-sz-step0);
  line-height: 1.4em;
  opacity: 0.75;
}

@media (max-width: 563px) {
  article {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
  }
  .benefits {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}